<div>
    <h1>לוח הכפל</h1>
    <div ng-hide="started">
        <div>
        לפניכם סדרה של {{numQuestions}} שאלות<br/>
        עליכם לענות על כל שאלה<br/>
        לחצו על הכפתור למטה להתחלה<br/>
        בהצלחה
        </div>
        <button class="btn btn-xlarge btn-success" ng-click="start()">התחל</button>
    </div>
    <div ng-show="started" class="row">
        <ul>
            <li ng-repeat="question in questions" ng-class="{
            'question-indicator': true,
            'question-indicator-not-asked' : question.status == question.NOTASKED,
            'question-indicator-success' : question.status == question.RIGHT,
            'question-indicator-failure' : question.status == question.WRONG,
        }">
            {{question.index}}
            </li>
        </ul>
    </div>
    <div ng-show="curQuestion != null">    
        <div class="row">
            <div class="col-md-3 question-div" ng-show="curQuestion != null">
                <span>{{curQuestion.num1}}</span> <span>X</span> <span>{{curQuestion.num2}}</span> = 
                <span ng-repeat="i in curQuestion.answerLength | toRange">{{curQuestion.input[i] | underscoreIfUndefinded }}&nbsp;</span>
            </div>
        </div>
        <div ng-repeat="row in rows">
            <div class="row">
                <div ng-repeat="key in row | reverse" ng-controller="KeyController" class="col-md-1">
                    <button class="btn-key" ng-click="clicked()">
                        <span ng-if="key=='B'" class="glyphicon glyphicon-step-backward"></span>
                        <span ng-if="key=='C'" class="glyphicon glyphicon-erase"></span>
                        <span ng-if="key != 'B' && key != 'C'">{{key}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row col-md-3">
            <button class="btn-key" ng-click="submit()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
    </div>
    <div ng-show="done">
        <h2>סיכום</h2>
        <table class="table">
            <tr>
                <td>שאלות</td>
                <td>{{getCount()}}</td>
            </tr>
            <tr>
                <td>תשובות נכונות</td>
                <td>{{getRightCount()}}</td>
            </tr>
            <tr>
                <td>ציון</td>
                <td>{{getScore()}}</td>
            </tr>
            <tr>
                <td>זמו כללי</td>
                <td>{{getTotalTime() | number:1 }}
            </tr>
            <tr>
                <td>זמן ממוצע לתשובה נכונה</td>
                <td>{{getTimeForRight() | number:1}}</td>
            </tr>
        </table>
    </div>
</div>
