<div>
    <!--<h1>לוח הכפל</h1>-->
    <div class="row">
        <ul>
            <li ng-repeat="question in questions" ng-class="{
            'question-indicator': true,
            'question-indicator-not-asked' : question.status == question.NOTASKED,
            'question-indicator-success' : question.status == question.RIGHT,
            'question-indicator-failure' : question.status == question.WRONG,
        }">
            {{question.index}}
            </li>
        </ul>
    </div>
    <div ng-show="curQuestion != null">   
        <div class="row"> 
            <div class="col-md-4 col-xs-0">
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="question-div">
                    <span>{{curQuestion.num1}}</span> <span>{{kind.symbol}}</span> <span>{{curQuestion.num2}}</span> =
                    <span ng-repeat="i in curQuestion.answerLength | toRange">{{curQuestion.input[i] | underscoreIfUndefinded }}&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-0">
            </div>
            <div class="col-md-4 col-xs-12">
                <table class="calc-table" border="1">
                <tr ng-repeat="row in rows">
                        <td ng-repeat="key in row | reverse" ng-controller="KeyController" class="td-key">
                            <button class="btn-key" ng-click="clicked()">
                                <span ng-if="key=='B'" class="glyphicon glyphicon-step-backward"></span>
                                <span ng-if="key=='C'" class="glyphicon glyphicon-erase"></span>
                                <span ng-if="key != 'B' && key != 'C'">{{key}}</span>
                            </button>
                        </td>
                </tr>
                <tr>
                    <td colspan="3" class="td-key">
                        <button class="btn-key" ng-click="submit()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="done">
        <h2>סיכום</h2>
        <div class="row">
            <table class="table col-md-4 col-xs-12">
                <tr>
                    <td>שאלות</td>
                    <td>{{getCount()}}</td>
                </tr>
                <tr>
                    <td>תשובות נכונות</td>
                    <td>{{getRightCount()}}</td>
                </tr>
                <tr>
                    <td>ציון</td>
                    <td>{{getScore()}}</td>
                </tr>
                <tr>
                    <td>זמן כללי</td>
                    <td>{{getTotalTime() | number:1 }}
                </tr>
                <tr>
                    <td>זמן ממוצע לתשובה נכונה</td>
                    <td>{{getTimeForRight() | number:1}}</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-xlarge btn-success" ng-click="start()">
                שחקו שוב
            </button>
        </div>
    </div>
</div>
