<div>
	<h1>משתמשים</h1>
	אם כבר נרשמת, בחר מהרשימה<br/>
	אם לא, צור משתמש חדש
	<div class="row">
		<table class="table col-md-2">
			<tbody>
				<tr ng-repeat="user in UsersDB.getAllUsers()" ng-controller="UserRowController">
					<td class="col-md-1">{{user.name}}</td>
					<td class="col-md-1"><button ng-click="clicked()">זה אני!</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<form class="form-inline">
  		<div class="form-group">
    		<label for="name">אני משתמש חדש, קוראים לי:</label>
    		<input type="text" class="form-control" id="name" placeholder="כתבו את שמכם" required>
  		</div>
  		<button type="submit" class="btn btn-default">בוא נתחיל</button>
	</form>
</div>

